/* BASIS */

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'MontserratB', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 1.2;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* GLOBAL */

.container {
  width: 1230px;
  margin: 0 auto;
}

.link {
  display: block;
  text-decoration: none;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button {
  border: none;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  color: #ffffff;
  cursor: pointer;
}

/* SECTION */

.section {
  margin-bottom: 90px;
}

.section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.section__block-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.section__title {
  text-align: center;
  margin: 0;
  padding: 0;
}

.section__title--main {
  font-family: 'KaushanSR', 'Arial', sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.section__title--sub {
  margin-bottom: 46px;
  font-family: 'MontserratB', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
}

.section__title--sub::after {
  display: block;
  content: '';
  width: 60px;
  height: 3px;
  background-color: rgb(243, 129, 129);
  margin: 0 auto;
  margin-top: 40px;
  opacity: 1;
}
