/* TEAM SECTION*/

.section__description {
  margin: 0 auto;
  width: 980px;
  text-align: center;
  margin-bottom: 90px;
  font-size: 15px;
  font-family: 'RobotoR';
  color: rgb(153, 153, 153);
  line-height: 1.6;
}

.team__item {
  width: 380px;
}

.team__item-info {
  position: relative;
  width: 380px;
  margin-bottom: 36px;
  -webkit-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}

.team__item-overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(252, 227, 138, 0.7)),
    to(rgba(243, 129, 129, 0.7))
  );
  background-image: -o-linear-gradient(
    bottom,
    rgba(252, 227, 138, 0.7) 0%,
    rgba(243, 129, 129, 0.7) 100%
  );
  background-image: linear-gradient(
    0deg,
    rgba(252, 227, 138, 0.7) 0%,
    rgba(243, 129, 129, 0.7) 100%
  );
  -webkit-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}

.team__item:hover .team__item-overlay {
  opacity: 1;
}

.team__item:hover .team__item-info {
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
}

.team__item:hover:hover .team__item-info {
  opacity: 1;
  -webkit-box-shadow: 10px 10px #95e1d3;
  box-shadow: 10px 10px #95e1d3;
}

.team__item-surname {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
  font-family: 'MontserratR', sans-serif;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 14px;
  font-weight: 700;
}

.team__item-position {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'RobotoL', sans-serif;
  color: rgb(153, 153, 153);
  line-height: 24px;
  text-align: center;
}
